.flex-pai {
    background: blue;
    height: 600px;

    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; 
    SIMPLICICANDO*/
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;   
}

.flex-pai div {
    background: white;
    border: 1px solid black;
    margin: 5px;
    padding: 30px;
    text-align: center;
}