.img1 {
    opacity: 1;  /*0.1 a 1*/ 
}
.img1:hover {
    opacity: 0.9;  /*0.1 a 1*/ 
}

.img2 {
    opacity: 1;  /*0.1 a 1*/ 
}
.img2:hover {
    opacity: 0.3  /*0.1 a 1*/ 
}

.img3 {
    opacity: 1;  /*0.1 a 1*/ 
}
.img3:hover {
    opacity: 0.6;  /*0.1 a 1*/ 
}

a.botao {
    padding: 15px;
    background: green;
    text-decoration: none;
}

a.botao:hover {
    opacity: 0.9;
    color: white;
}

.transparente {
    background: blue;
    color: white;
    padding: 40px;
    opacity: 0.3;
}
.transparente:hover {
    background: blue;
    color: white;
    padding: 40px;
    opacity: 1;
}