.container {
    display: inline-block;
    background: blue;
    width: 100%;
    height: 400px;
}

.div1 {
    position: relative;
    z-index: 4;
    left: 60px;
    width: 30%;
    height: 100px;
    display: inline-block;
    background: yellow;
}

.div2 {
    position: relative;
    z-index: 5;
    width: 30%;
    height: 100px;
    display: inline-block;
     background: white;
}

.div3 {
    width: 30%;
    height: 100px;
    display: inline-block;
    background: red;
}